*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $tea-green;
  color: $denim;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
  background-color: $tea-green;

}

h1 {
  font-family: 'Laila', serif;
  font-size: 8rem;
  margin: 1rem 1rem 0 1rem;
}

h2 {
  font-family: 'Laila', serif;
  margin-top: 0
}

.large-button {
  border: .3rem solid;
  border-radius: 2rem;
  background-color: $baby-powder;
  cursor: pointer;
  font-size: 2rem;
  color: $denim;
  width: 20rem;
  height: 4rem;
  margin: 2rem;
  // margin-top: 2rem;
  outline: none;
  &:hover {
    background: $sea-green;
    color: $baby-powder
  }
}

@media screen and (max-width: 320px) {
  html {
    width: 320px
  }
}